@model IEnumerable<ProductWebModel>

<div class="top_items">
    <h2 class="text-center display-6">Рекомендуемые книги</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="top-items row">
                    @foreach (var product in Model.Take(4))
                    {
                        <div class="col-sm-6 col-md-3 mb-1">
                            <div class="card shadow">
                                <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                                <div class="card-body">
                                    <div class="row">
                                        <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="h5 card-title text-decoration-none text-dark">
                                            @product.Name
                                        </a>
                                    </div>
                                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-info mt-2">Подробности</a>
                                </div>
                                <div class="card-footer">Рекомендация</div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="carousel-item">

                <div class="top-items row">
                    @foreach (var product in Model.Skip(4).Take(4))
                    {
                        <div class="col-sm-6 col-md-3 mb-1">
                            <div class="card shadow">
                                <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                                <div class="card-body">
                                    <div class="row">
                                        <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="h5 card-title text-decoration-none text-dark">
                                            @product.Name
                                        </a>
                                    </div>
                                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-info mt-2">Подробности</a>
                                </div>
                                <div class="card-footer">Рекомендация</div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>


</div>