@model Worker

@{ 
    ViewBag.Title = "Детальные данные по сотруднику";
}
<div class="container">
    <h1>@ViewBag.Title</h1>
    <hr />
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Главная страница</a> 
    / <a class="btn btn-outline-secondary" asp-controller="Worker" asp-action="Index">Все сотрудники магазина</a>
    <hr />
    <p>Идентификатор: @Model.Id</p>
    <p>Фамилия: @Model.LastName</p>
    <p>Имя: @Model.FirstName</p>
    <p>Отчество: @Model.Patronymic</p>
    <p>Возраст: @Model.Age лет</p>
</div>
