@model WorkerDetailsWebModel

@{ 
    ViewBag.Title = "Детальные данные по сотруднику";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <hr />
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Главная страница</a>
    / <a class="btn btn-outline-secondary" asp-controller="Worker" asp-action="Index">Все сотрудники магазина</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Patronymic)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Patronymic)</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Age)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Age) лет</dd>
    </dl>
</div>
