@model IEnumerable<ProductWebModel>

<div class="top_items row">
    <h2 class="text-center display-6">Книжные новинки</h2>

    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-1">
            <div class="card shadow">
                <a href="#"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: <strong>@product.Author</strong></h6>
                    <p class="card-text">Цена: @product.Price.ToString("C") </p>
                    <p class="card-text">@product.Message</p>
                    <a href="#" class="btn btn-outline-success">Купить</a>
                    <a href="#" class="btn btn-outline-info">Подробности</a>
                </div>
                <div class="card-footer">Новинка</div>
            </div>
        </div>
    }

</div>