@model IEnumerable<ProductWebModel>

<div class="top_items row">
    <h2 class="text-center display-6">Популярные книги</h2>
    
    @foreach (var product in Model)
    {
        <div class="col-md-4 col-sm-6 mb-1">
            <div class="card shadow">
                <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id"><img src="~/images/books/@product.ImageUrl" class="card-img-top" alt="@product.Name"></a>
                <div class="card-body">
                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="h5 card-title text-decoration-none text-dark">
                        @product.Name
                    </a>
                    <h6 class="card-subtitle mb-2 mt-2 text-muted">@product.GenreName</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: <strong>@product.AuthorName</strong></h6>
                    <p class="card-text">@product.Message</p>
                    <p class="card-text">Цена: @product.Price.ToString("C") </p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id" class="btn btn-outline-success">
                        <i class="fas fa-shopping-cart"></i>
                        В корзину
                    </a>
                    <a asp-controller="Catalog" asp-action="Details" asp-route-id="@product.Id" class="btn btn-outline-info">Подробности</a>
                </div>
                <div class="card-footer">Самое популярное</div>
            </div>
        </div>
    }

</div>